body
{
  background-color: #222;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  font-family:'Times New Roman', Times, serif ;
  color: #daa520;
  text-decoration: underline #daa520;
  font-size: 75px;
}

.headingflex
{
  display: flex;
  justify-content: center;
}